{
    "presets": [
        ["env", { "targets": { "node": "current" } }],
        "react"
    ],
    "plugins": [
        "lodash",
        [ "transform-object-rest-spread", { "useBuiltIns": true } ]
    ],
    "env": {
        "production": {
            "plugins": [
                [
                    "transform-react-remove-prop-types",
                    {
                        "removeImport": true,
                        "ignoreFilenames": ["node_modules"]
                    }
                ],
                "transform-react-constant-elements",
            ]
        }
    }
}
